### <a id='VCAP-APP-HOST'></a>VCAP\_APP\_HOST 

The IP address of the host. Deprecated: the DEAs set this to be <code>0.0.0.0</code>, and Diego Cells do not provide this environment variable. 

<code>VCAP\_APP\_HOST=0.0.0.0</code>